

<main>
	<main>
	<div class="container">
		<center>
			<h2>Detalle del Inventario</h2>
		</center>
		<div>
			<h4>Valuacion Total del Inventario : {{total_value}}</h4>
			<h4>Total de Productos : {{total_products}}</h4>
		</div>
		<div class="section"></div>
		<table class="responsive-table highlight">
			<thead>
				<tr>
					<th>#</th>
					<th>Producto</th>
					<th>Cantidad</th>
					<th>Medida</th>
					<th>Price Original</th>
					<th>Ganancia</th>
					<th>Precio Venta</th>
					<th>Proveedor</th>
				</tr>
			</thead>
			<tbody>
				{% for i in inventory %}
					<tr>
						<td>{{i.id}}</td>
						<td>{{i.pname}}</td>
						<td>{{i.quantity}}</td>
						<td>{{i.measurement}}</td>
						<td>{{i.orginal_price}}</td>
						<td>{{i.profit}}</td>
						<td>{{i.selling_price}}</td>
						<td>{{i.supplier}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</main>