{% extends "easy_pdf/base.html" %}

{% block content %}
<main>
	<div class="container">
		<center>
			<h1>Reportes</h1>
			<h2>Usuario : {{user}}</h2>
			<h2>Detalles del Inventario</h2>
			<h2>{% now "jS \o\f F" %}</h2>
		</center>
		<table>
			<thead>
				<tr>
					<th>Producto ID</th>
					<th>Producto</th>
					<th>Cantidad</th>
					<th>Medida</th>
					<th>Precio Orignal</th>
					<th>Ganancia</th>
					<th>Precio de venta</th>
					<th>Proveedor</th>
				</tr>
			</thead>
			<tbody>
				{% for i in inventory_report %}
					<tr>
						<td>&nbsp; {{i.id}}</td>
						<td>{{i.pname}}</td>
						<td>{{i.quantity}}</td>
						<td>{{i.measurement}}</td>
						<td>{{i.orginal_price}}</td>
						<td>{{i.profit}}</td>
						<td>{{i.selling_price}}</td>
						<td>{{i.supplier}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</main>
{% endblock %}