<!--Navbar-->
<nav class="indigo">
    <div class="nav-wrapper container">
        <a href="{% url 'home' %}" class="brand-logo">Sistema de Inventario</a>
        <a href="#" data-target="mobile-view" class="sidenav-trigger">
            <i class="material-icons">Menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'home' %}">Proveedores</a></li>
            <li><a href="{% url 'inventory' %}">Inventario</a></li>
            <li><a href="{% url 'checkout' %}">Salidas</a></li>
            <li><a href="{% url 'transaction' %}">Transacciones</a></li>
            <li><a href="{% url 'report' %}">Generar Reportes</a></li>
            <li><a href="{% url 'chart' %}">Tablas</a></li>

            <li><a href="{% url 'logout' %}" class="waves-effect waves-light btn blue darken-4">Logout</a></li>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-view">
	<li><a href="{% url 'logout' %}" class="waves-effect waves-light btn blue darken-4">Logout</a></li>
    <li><a href="{% url 'home' %}">Administrar Proveedores</a></li>
    <li><a href="{% url 'inventory' %}">Administrar Inventario</a></li>
    <li><a href="{% url 'checkout' %}">Salidas</a></li>
    <li><a href="{% url 'transaction' %}">Transacciones</a></li>
    <li><a href="{% url 'report' %}">Generar Reportes</a></li>
    <li><a href="{% url 'chart' %}">Tablas</a></li>
</ul>
<!--Navbar Ends-->