<main>
	<div class="container">
		<center>
			<h2>Detalles de Transacciones</h2>
		</center>
		<div class="section"></div>
		<table>
			<thead>
				<tr>
					<th>Cliente</th>
					<th>Ccntidad</th>
					<th>Medida</th>
					<th>Precio</th>
					<th>Proveedor</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for i in transactions %}
				<tr>
					<td>{{i.cust_name}}</td>
					<td>{{i.quantity_r}}</td>
					<td>{{i.pid.measurement}}</td>
					<td>{{i.actual_price}}</td>
					<td>{{i.pid.supplier.sname}}</td>
					<td>
						<form method="POST">
							{% csrf_token %}
							<input type="hidden" name="tiddel" value="{{i.id}}">
							<button type="submit" class="btn indigo">
								ELIMINAR
							</button>
						</form>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</main>